/* Hilary's styles */
body {
	background-color: black;
	font-family: 'Droid Serif', serif;
    color: white;
}
h1 {
    text-align: center;
    
}
.form {
    border: 1px solid blue;
    background-color: #FFF;
    width: 70%;
    height: 200px;
    margin-top: 20px;
}
.listarea {
    border: 1px solid brown;
    background-color: #F2E8B3;
    width: 90%;
    height: 200px;
    margin-top: 20px;
}