/* Hilary's styles */
body {
	background-color: #348899;
	font-family: 'Droid Serif', serif;
    color: white;
}
h1 {
    text-align: center;
    
}
.form {
    border: 1px solid blue;
    background-color: #FFF;
    width: 70%;
    height: 200px;
    margin-top: 20px;
    color: #000;
}

.formarea {
    border: 2px solid #343642;
    background-color: #FFF;
    padding: 20px;
    color: #343642;
}

.requesttable {
    border: 2px solid #343642;
    background: #FFF;
    color: #343642;
    margin: 10px;
}
